page-modal-series {
    .content{
        background-color: #252A34;
    }
    .border{
        border-bottom: 1px solid #08D9D6;
        padding-bottom: 15px;
    }
    ion-card {
        width: 100px;
        height: auto;
    }
}
