page-modal-movi {
    .content{
        background-color: #252A34;
    }
    .borders{
        padding-bottom: 15px;
        border-bottom: 1px solid #08D9D6;
    }
    .card-background-page {
        
        ion-card {
            position: relative;
            text-align: center;
        }
        
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
        
    }
    ion-badge{
        margin-left: 1em;
    }
}
